#network {
	
	.item {
		padding: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);

		.status {
			float: right;
			line-height: 1.75em;
		}

		.filename, .filepath {
			display: block;
		}

		.filepath {
			font-size: 0.75em;
			color: rgba(0, 0, 0, 0.6);
			text-decoration: underline;
		}
	}

}